/*CSS Reset*/
* {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
}

body {
  font-family: serif;
}

/*1st Section*/
.box-1 {
      width: 100%;
      height: 150px;
      padding: 25px 150px;
      border: 3px solid black;
      text-align: center;
      background-color: gray;
}

#red-box {
      width: 100px;
      height: 100px;
      padding: 25px;
      border: 3px solid black;
      background-color: red;
      float: right;
}

/*2nd Section*/
.box-2 {
      width: 100%;
      height: 150px;
      padding: 25px 150px;
      border: 3px solid black;
      text-align: center;
      background-color: gray;
}

#yellow-box {
      width: 100px;
      height: 100px;
      padding: 25px;
      border: 3px solid black;
      background-color: yellow;
}

/*3rd Section*/
.box-3 {
      width: 100%;
      height: 150px;
      padding: 25px;
      border: 3px solid black;
      box-sizing: border-box;
      text-align: center;
      background-color: gray; 
}

#blue-box {
      width: 100px;
      height: 100px;
      padding: 25px;
      border: 3px solid black;
      background-color: blue;
      margin: auto;
}

/*4th Section*/
.box-4 {
      width: 100%;
      height: 200px;
      padding: 25px;
      border: 3px solid black;
      text-align: center;
      background-color: gray;
}

#first-orange-box {
      width: 100px;
      height: 100px;
      padding: 25px;
      border: 3px solid black;
      background-color: orange;
     margin: 20px;
     display: inline-block;
}

#second-orange-box {
      width: 100px;
      height: 100px;
      padding: 25px;
      border: 3px solid black;
      background-color: orange;
      margin: 20px;
      display: inline-block;
}

/*5th Section*/
.box-5 {
      width: 100%;
      height: 340px;
      padding: 25px;
      border: 3px solid black;
      text-align: center;
      background-color: gray; 
}

#red {
      width: 100px;
      height: 100px;
      padding: 25px;
      border: 3px solid black;
      background-color: red;
      margin: 20px;
      display: inline-block;
      margin-inline: 60px;
}

#orange {
      width: 100px;
      height: 100px;
      padding: 25px;
      border: 3px solid black;
      background-color: Orange;
      margin: 20px;
      display: inline-block;
      margin-inline: 60px;
}

#yellow {
      width: 100px;
      height: 100px;
      padding: 25px;
      border: 3px solid black;
      background-color: Yellow;
      margin: 20px;
      display: inline-block;
      margin-inline: 55px;
}

#green {
      width: 100px;
      height: 100px;
      padding: 25px;
      border: 3px solid black;
      background-color: green;
      margin: 20px;
      display: inline-block;
      margin-inline: 60px;   
}

#blue {
      width: 100px;
      height: 100px;
      padding: 25px;
      border: 3px solid black;
      background-color: Blue;
      margin: 20px;
      display: inline-block;
     margin-inline: 50px;
}

#indigo {
      width: 100px;
      height: 100px;
      padding: 25px;
      border: 3px solid black;
      background-color: indigo;
      margin: 20px;
      display: inline-block;
      margin-inline: 50px; 
}

#violet{
      width: 100px;
      height: 100px;
      padding: 25px;
      border: 3px solid black;
      background-color: violet;
      margin: 20px;
      display: inline-block;
      margin-inline: 50px;
}